#status {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    background-color: white;
    animation: breathe 2s infinite;

}

.status-container {
    display: flex;
    align-self: flex-start;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

@keyframes breathe {
    0% {
        border-width: 2px;
    }
    100% {
        border-width: 15px;
    }
}

.lo-btn {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    align-self: center;
}

.lo-btn:hover {
    cursor: pointer;
    background: linear-gradient(45deg, #f3eb5b, #fff);
    color: #000;

}

.left-weather-div {
    flex: 1;

    display: flex;
    flex-direction: column;

    backdrop-filter: blur(14px);

    align-items: center;
    justify-content: center;
    /*background-color: rgba(24, 76, 120, 0.69);*/


}

.forecast-div {
    flex: 1;

    backdrop-filter: blur(14px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;

    /*background-color: rgba(232, 62, 62, 0.34);*/
}

.info {
    display: flex;
    gap: 50px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}

.forecast-div::-webkit-scrollbar {
    display: none;
}

.wind-div {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.temp-div {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.App {
    text-align: center;

    height: 100vh;
    color: white;
    font-weight: 900;

    display: flex;
    flex-direction: column;


    font-size: 24px;
}

.bg-img {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}


@media screen and (min-width: 1200px) {
    .App {
        flex-direction: row;
    }
}

.city-name {
    background: #90796c;
    padding: 20px;
    border-radius: 20px;
}

.App-link {
    color: #61dafb;
}


.windmill-div {
    justify-content: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.propeller {
    width: 100px;
    height: 100px;
    z-index: 1;
    transform-origin: center center;
}

.windmill-pole {
    width: 22px;
    height: 120px;
    transform: translateY(-50px);
    background-color: white;
    border-radius: 10px;
}

.list-item-row {
    display: flex;
    flex-direction: row;
    padding: 2px;

    gap: 13px;
    color: white;
    align-items: center;
    justify-content: center;


}

.flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px


}

.list-item {
    display: flex;
    padding: 8px;
    flex: 1;
    flex-direction: column;

    gap: 5px;
    align-self: center;
    font-weight: 900;

    color: white;
    align-items: center;


    width: 860px;
    height: 100%


}

.list-item-date {
    display: flex;
    padding: 10px;
    gap: 10px;

}

.time {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 10px;
}

.times {
    display: flex;

    border-radius: 20px;

    border: white 1px solid;


    width: 100%;
    height: 100%;
}

.select {
    width: 50px;
    height: 40px;
    border-radius: 20px;
    border: none;
    align-self: center;
}


#input-city {
    width: 200px;
    padding: 10px;
    height: 40px;
    border-radius: 20px;
    border: none;
    align-self: center;
}

.interactions {
    display: flex;
    gap: 10px;
    align-self: center;
    align-items: center;
}

.weather-variables {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.weather-variables-item {
    width: 200px;
    height: 60px;
    padding: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: rgba(97, 218, 251, 0.82) 2px solid;
    background-color: rgba(97, 218, 251, 0.25);
    border-radius: 10px;
}
